<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand HeaderH1" href="#">Λʙʜιנєєτ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a routerLink="/Home" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/Services" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a routerLink="/Portfolio" class="nav-link">Portfolio</a>
        </li>
        <li class="nav-item">
          <a routerLink="/About" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/Contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<body>
  <header>
    <h1 class="HeaderH1">Λʙʜιנєєτ Ðʜικαℓє</h1>
    <nav>
      <a routerLink="/Home">Home</a>
      <a routerLink="/Services">Services</a>
      <a routerLink="/Portfolio">Portfolio</a>
      <a routerLink="/About">About</a>
      <a routerLink="/Contact">Contact</a>
      <button class="HeaderButton" type="button">Login</button>
    </nav>
  </header>
</body>