@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto Condensed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Condensed;
}

/* body {
        background: url(background.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: 80vh;  
} */

header {
    top: 0;
    width: 100vw;
    position: fixed;
    padding: 4vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderH1 {
    color: white;
    font-size: 6vh;
    cursor: default;
    text-shadow: 3px 0px 2px black;
}

nav {
    word-spacing: 3vw;
}

nav a {
    font-size: 3.2vh;
    text-decoration: none;
    color: white;
    margin-right: 2vw;
}

nav a:hover {
    text-shadow: 0px 0px 15px white;
    transition: 0.3s;
}

.HeaderButton {
    height: 6vh;
    width: 8vw;
    border-radius: 10vw;
    color: white;
    border: 1px solid white;
    background: transparent;
    font-size: 2.7vh;
}

.HeaderButton:hover {
    background: #ffffff;
    color: black;
    box-shadow: 0px 0px 20px 0px white;
    transition: all ease 1s;
}